#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:<br>1)Python <br>2)R studio <br>3)SQL

Some of the commonly used libraries used by Data Scientists include:<br>1)Pandas <br>2)Numpy <br>3)matplotlib <br>4)Seaborn

|Data Science Tools|
|:-------------------|
|Jupyter Notebook|
|R studio|
|Spyder|

###Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
print((3*4)+5)

17

In [2]:
Minutes_to_Hours=200/60
"""This will convert 200 minutes to hours by diving by 60"""
print("200 minutes is %s Hours" %Minutes_to_Hours)

200 minutes is 3.3333333333333335 Hours

**Objectives:**
<br>1)Data Science Tools
<br>2)Popoular Languages of Data Science
<br>3)Libraries used in Data Science
<br>4)Example of Arithmetic Expression

##Author<br> Rahul Hattaragi